@import '../../styles/variables';

.form_input {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: $italianaFont;
    margin: 0 40px;
    padding-bottom: 6px;
    border: none;
    border-bottom: .5px solid #313131;
    border-radius: 0;

    &.hasError {
        border-bottom: .5px solid #ff0000;
    }
}