@import '../../styles/variables';

.transition::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #f1f2ff, #e8eaff, #e0e2ff, #d7dbff, #ced3ff);
    z-index: 10;

    @media (max-width: 430px) and (orientation: portrait) {
        animation: .8s melt-leave-mobile linear forwards;
    }
    animation: .8s melt-leave linear forwards; 
}

@keyframes melt-leave-mobile {
    0% {
        clip-path: path('M0 0H430V932C430 932 299.302 863.557 215 863.557C130.698 863.557 0 932 0 932V0Z');
    }
    90% {
        clip-path: path('M0 0H430V108C430 108 383.908 38.7594 215 38.7594C46.0918 38.7594 0 108 0 108V0Z');
    }
    97% {
        clip-path: path('M0 0H430V38.7594C430 38.7594 383.908 11.7594 215 11.7594C46.0918 11.7594 0 38.7594 0 38.7594V0Z');
    }
    100% {
        clip-path: path('M0 0H430V12.5C430 12.5 383.908 0 215 0C46.0918 0 0 12.5 0 12.5V0Z');
        visibility: hidden;
    }
}

@keyframes melt-leave {
    0% {
        clip-path: path('M0 0H1920V1080C1920 1080 1332.59 1079.39 956.172 1079.39C579.755 1079.39 0 1080 0 1080V0Z');
    }
    5% {
        clip-path: path('M0.0625 -3H1920V1080C1920 1080 1435.52 1009.4 956.203 1009.4C476.886 1009.4 0.0625 1080 0.0625 1080V-3Z');
    }
    10% {
        clip-path: path('M0.0625 -3H1920V1010C1920 1010 1435.52 833.988 956.203 833.988C476.886 833.988 0.0625 1010 0.0625 1010V-3Z');
    }
    30% {
        clip-path: path('M0.0625 -3H1920V823.128C1920 823.128 1435.52 577.634 956.203 577.634C476.886 577.634 0.0625 823.128 0.0625 823.128V-3Z');
    }
    50% {
        clip-path: path('M0.0625 -3H1922.19V654.394C1922.19 654.394 1437.16 260.625 957.293 260.625C477.429 260.625 0.0625 654.394 0.0625 654.394V-3Z');
    }
    80% {
        clip-path: path('M0.0625 -3H1920V260.325C1920 260.325 1435.52 68.331 956.203 68.331C476.886 68.331 0.0625 260.325 0.0625 260.325V-3Z');
    }
    90% {
        clip-path: path('M0.0625 -3H1920V68.331C1920 68.331 1435.52 6.99967 956.203 6.99967C476.886 6.99967 0.0625 68.331 0.0625 68.331V-3Z');
    }
    100% {
        clip-path: path('M0.0625 -3H1920V4.5C1920 4.5 1435.52 4.5 956.203 4.5C476.886 4.5 0.0625 4.5 0.0625 4.5V-3Z');
        visibility: hidden;
    }
}