@import '../../styles/variables';

.slide-transition {
    @media (max-width: #{$mediumTablet - 1px}) {
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1);
        grid-area: 2 / 1 / 3 / 2;
    }
}

.slide-transition.transitioning {
    opacity: 1;
}
