@import '../../styles/variables';

.button {
    border-radius: 30px;
    border: 0.5px solid #000;
    padding: 6px 16px;
    background-color: #F9F8F4;
    width: fit-content;
    position: relative;
    overflow: hidden;

    .button_text {
        font-family: $gaelaFont;
        font-size: 16px;
        text-transform: capitalize;
        z-index: 2;
        position: relative;
        letter-spacing: 1.5px;

        @media (min-width: $mediumTablet) {
            font-size: 18px;
        }
    }

    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.856);
        transition: all .5s;
    }

    &:hover {
        color: #fff;

        &::after {
            width: 100%;
        }
    }
}