@import '../../styles/variables';

.button {
    border-radius: 30px;
    border: 0.5px solid #313131;
    padding: 6px 16px;
    background-color: #F9F8F4;
    width: fit-content;
    position: relative;
    overflow: hidden;

    .button_text {
        font-family: $gaelaFont;
        font-size: 16px;
        z-index: 2;
        position: relative;
        letter-spacing: 1.5px;
        color: #313131;

        @media (min-width: $mediumTablet) {
            font-size: 18px;
        }

        &:not(.isLowercase) {
            text-transform: capitalize;
        }
    }

    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #313131;
        transition: all .5s;
    }

    &:hover {
        .button_text {
            color: #F9F8F4;
        }

        &::after {
            width: 100%;
        }
    }

    &.button-he {
        &:after{
            right: 0;
            left: auto;
        }
    }
}