@import '../../styles/variables';

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F9F8F4;
    z-index: 10;

    .menu_upper_content {
        display: flex;
        justify-content: space-between;
        padding: 16.5px 25px 16.5px;

        @media (min-width: $mediumTablet) {
            padding: 16.5px 76px 16.5px 100px;

            .menu_logo {
                width: 45px;
                height: 64px;
            }
        }
    }

    .menu_nav {
        height: calc(100vh - 60px);

        .menu_nav_content {
            display: flex;
            gap: 60px;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }

        .menu_nav_item {
            text-transform: capitalize;
            font-size: 40px;
            font-family: $italianaFont;
            margin: 0 53px 0 28px;
            display: flex;
            align-items: center;
            color: #D4D3CF;
            cursor: pointer;
            
            &.is_active {
                color: #000;
            }

            @media (max-width: #{$mediumTablet - 1px}) {
                justify-content: space-between;
            }

            @media (min-width: $mediumTablet) {
                font-size: 100px;
                margin: 0 53px 0 100px;
                gap: 40px;

                .menu_item_icon {
                    width: 70px;
                    height: 58px;
                }
            }
        }
    }

    .spin {
        position: absolute;
        bottom: 20px;
        right: 28px;
        animation: spin 6s infinite linear;  

        @media (min-width: $mediumTablet) {
            width: 152px;
            height: 152px;
            right: 76px;
        }
    }

    @keyframes spin {
        to {
            rotate: -360deg;
        }
    }
}