@import '../../styles/variables.scss';

.form_success {
    height: $contentHeight;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr;

    @media (min-width: $mediumTablet) {
        height: $contentHeightMedium;
    }

    .form_success_title .title_item {
        @media (min-width: $mediumTablet) {
            font-size: 40px;
        }
    }

    .form_success_subtitle {
        margin-top: 30px;
        font-family: $helveticaFont;
        letter-spacing: 1.04px;
        font-size: 14px;

    }

    > *:first-child, > *:last-child  {
        align-self: flex-end;
    }

    > *:last-child {
        font-family: $helveticaFont;
        padding-bottom: 35%;
        letter-spacing: 1.04px;
        font-size: 14px;

        @media (min-width: $mediumTablet) {
            padding-bottom: 24px;
        }
    }
}