@import '../../styles/variables.scss';

.form_success {
    height: $contentHeight;
    display: grid;
    text-align: center;

    @media (min-width: $mediumTablet) {
        height: $contentHeightMedium;
    }

    > *:first-child, > *:last-child  {
        align-self: flex-end;
    }

    > *:last-child {
        padding-bottom: 24px;
    }
}