@import '../../styles/variables';

.events {
    height:fit-content;
    display: grid;
    column-gap: 20px;
    overflow: hidden;

    @media (min-width: $mediumTablet) {
        height: $contentHeightMedium;
    }

    .event_title {
        align-self: end;
        text-transform: uppercase;

        @media (max-width: #{$mediumTablet - 1px}) {
            grid-area: 1 / 1 / 2 / 2;
        }
    }

    .event_wrapper {
        text-align: center;

        .event_img {
            display: flex;
            margin: 16px auto 0;
            

            video {
                border-radius: 310px;
                margin: auto;
            }

            @media (max-width: #{$tablet - 1px}) {
                video {
                    width: calc(100vw - 170px);
                }
            }

            @media (min-width: $tablet) and (max-width: #{$mediumTablet - 1px}) {
                video {
                    width: calc(100vw - 70%);
                }
            }

            @media (min-width: $mediumTablet) {
                margin: 55px auto 0;

                video {
                    width: 16vw;
                }
            }
        }

        .event_date {
            letter-spacing: 5px;
            font-size: 12px;
            font-family: $helveticaFont;
            padding: 16px 0 10px;
            color: #8F8E8E;
        }

        .event_name {
            font-family: $italianaFont;
            font-size: 24px;
            padding-bottom: 16px;
        }

        .event_date,
        .event_name {
            text-transform: uppercase;
            font-weight: 400;
        }
    }

    .event_btn_desktop {
        @media (max-width: #{$mediumTablet - 1px}) {
            display: none;
        }
    }

    .break_line {
        display: block;
    }

    @media (min-width: $mediumTablet) {
        display: grid;
        grid-template-columns: 0fr 1fr repeat(3, .7fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        max-width: 90%;
        margin: auto;

        .break_line {
            display: grid;
            text-align: left;
        }

        .event_title {
            grid-area: 1 / 2 / 2 / 3;
            justify-self: baseline;
            align-self: auto;

            .title_item {
                font-size: 40px;
            }
        }
    
        .event_0 {
            grid-area: 1 / 3 / 2 / 4;
        }

        .event_1 {
            grid-area: 1 / 4 / 2 / 5;
        }

        .event_2 {
            grid-area: 1 / 5 / 2 / 6;
        }

        .event_btn {
            display: none;
        }

        .event_btn_desktop {
            grid-area: 2 / 4 / 3 / 5;
            height: fit-content;
        }

        &.events-he {
            grid-template-columns: 0fr repeat(3, .7fr) 1fr;

            .event_title {
                grid-area: 1 / 5 / 2 / 6;
                justify-self: end;

                .break_line {
                    text-align: right;
                }
            }

            .event_0 {
                grid-area: 1 / 2 / 2 / 3;
            }
    
            .event_1 {
                grid-area: 1 / 3 / 2 / 4;
            }
    
            .event_2 {
                grid-area: 1 / 4 / 2 / 5;
            }

            .event_btn_desktop {
                grid-area: 2 / 3 / 2 / 4;
            }
        }
    }
}