@import '../../styles/variables.scss';

.language_picker {
    font-family: $interFont;
    display: flex;
    gap: 20px;

    div {
        border-bottom: 0.5px solid #313131;
        padding: 5px;
        width: fit-content;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        height: fit-content;

        span {
            z-index: 2;
            position: relative;
            font-size: 14px;
            letter-spacing: 1px;
            color: #313131;

            @media (min-width: $mediumTablet) {
                font-size: 16px;
            }
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &::after{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background: #313131;
            transition: all .5s;
        }
    }
}