$italianaFont: 'Italiana', sans-serif;
$interFont: 'Inter', sans-serif;
$gaelaFont: 'GAELA', sans-serif;
$helveticaFont: 'Helvetica', sans-serif;

$mediumTablet: 1024px;
$contentHeight: calc(100vh - 60px);
$contentHeightMedium: calc(100vh - 124px);