@import '../../styles/variables';

.title {
    .title_wrapper {
        font-family: $italianaFont;
        justify-content: center;
        text-align: center;

        .title_item {
            font-weight: 400;
            font-size: 25px;
            letter-spacing: 1.04px;

            @media (min-width: $mediumTablet) {
                font-size: 30px;
            }
        }
    }
}