@import '../../styles/variables';

.invitation {
    position: relative;
    margin: 50px auto 0;

    @media (max-width: 320px) {
        height: calc(100vh + 50px);
    }

    @media (min-width: $tablet) {
        height: $contentHeightMedium;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        margin: auto;
    }

    .invitation_wrapper {
        font-family: $italianaFont;
        text-align: center;

        @media (max-width: #{$tablet - 1px}) {
            width: 100%;
            padding: 0 16px;
        }

        @media (min-width: $tablet) and (max-width: #{$mediumTablet - 1px}) {
            width: 100%;
            max-width: 50%;
        }
    }

    .invitation_fam {
        width: 100%;
        display: grid;
        row-gap: 10px;
        justify-content: space-between;

        p {
            justify-self: start;
            line-height: 20px;
            font-size: 14px;
            font-weight: 600;

            @media (max-width: 360px) {
                font-size: 12px;
            }
        }

        &.invitation_fam-he {
            row-gap: 0;
            margin-top: 10px;
            p:first-child, p:nth-child(2), p:nth-child(4) {
                display: none;
            }
        }

        p:nth-child(2) {
            grid-area: 2 / 1 / 3 / 2;
        }

        p:nth-child(3) {
            grid-area: 3 / 1 / 4 / 2;
        }

        p:nth-child(4) {
            grid-area: 2 / 2 / 3 / 3;
            justify-self: end;
        }

        p:last-child {
            grid-area: 3 / 2 / 4 / 3;
            justify-self: end;
        }
    }

    .invitation_intro {
        margin: 40px 0;
        line-height: 25px;
        font-size: 14px;
        font-weight: 600;

        @media (max-width: 360px) {
            font-size: 12px;
        }

        @media (min-width: $mediumTablet) {
            br {
                display: none;
            }
        }
    }

    .invitation_title {
        font-size: 13px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span {
            flex-shrink: 0;
        }

        &::before, &::after {
            content: '';
            display: block;
            width: 24px;
            height: 0.5px;
            background-color: #313131;
        }

        @media (min-width: $mediumTablet) {
            font-size: 16px;
            font-weight: 300;
        }
    }

    .invitation_content {
        display: grid;
        row-gap: 14px;
        padding: 50px 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        position: relative;

        &::before, &::after {
            content: '';
            display: block;
            width: .5px;
            height: 18px;
            background-color: #313131;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &::before {
            top: 0;
            margin-top: 16px;
        }

        &::after {
            bottom: 0;
            margin-bottom: 16px;
        }
        
        p:last-child {
            grid-area: 2 / 1 / 3 / 2;
        }
    }

    * {
        letter-spacing: 1px;
    }

    .invitation_day {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1px;
    }

    .invitation_preposition {
        text-transform: lowercase;
    }

    .invitation_date {
        text-transform: uppercase;
        font-size: 20px;
    }

    .invitation_number {
        font-family: $gaelaFont;
        text-transform: uppercase;
        font-size: 20px;
    }

    .invitation_subtitle {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }

    .invitation_address {
        font-size: 16px;
        border-bottom: .5px solid #313131;
        margin: 0 8px;
        padding-bottom: 16px;
        line-height: 24px;

        @media (min-width: $mediumTablet) {
            width: 100%;
            padding-bottom: 40px;
            font-size: 20px;
        }
    }

    .invitation_note {
        font-family: $helveticaFont;
        font-size: 12px;
        font-weight: 300;
        padding: 20px 0;
    }

    .invitation_flower {
        position: absolute;
        z-index: -1;
        opacity: .6;

        &.invitation_flower_1 {
            top: 0;
            left: 0;
        }

        &.invitation_flower_2 {
            top: 20%;
            right: 0;
        }

        &.invitation_flower_3 {
            bottom: 20%;
            left: 0;
        }

        &.invitation_flower_4 {
            bottom: 0;
            right: 0;
        }
    }

    .invitation_flower_big {
        position: absolute;
        z-index: -1;
        opacity: .6;

        &.invitation_flower_big_1 {
            top: 0;
            left: 15%;
        }

        &.invitation_flower_big_2 {
            top: 0;
            right: 15%;
        }

        &.invitation_flower_big_3 {
            bottom: 0;
            left: 20%;
        }

        &.invitation_flower_big_4 {
            bottom: 0;
            right: 20%;
        }
    }
}