@import '../../styles/variables';

.progress_bar_container {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    @media (min-width: $mediumTablet) {
        display: none;
        grid-area: 1 / 1 / 2 / 2;
    }

    .progress_bar {
        height: 100px;
        width: 1.5px;
        margin: 5px auto;
        background-color: #D3D3D3;
        position: relative;

        .progress_bar_after {
            width: 1.5px;
            background-color: #313131;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transition: height .8s ease-out;
        }
    }

    > p {
        font-size: 14px;
        font-family: $gaelaFont;
        letter-spacing: 1.04px;
    }
}