@import '../../styles/fonts';

.landing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    height: 100%;
    justify-items: center;
    left: 0;
    overflow: auto hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    align-items: center;
    font-family: $italianaFont;

    .language_picker {
        position: absolute;
        top: 5px;
        left: 15px;

        @media (min-width: $mediumTablet) {
            top: 15px;
            left: 25px;
        }
    }

    @media (min-width: $mediumTablet) {
        br {
            display: none;
        }
    }

    .landing_title {
        font-size: 30px;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 400;

        @media (min-width: $mediumTablet) {
            font-size: 40px;
        }
    }

    @media (min-width: $mediumTablet) {
        .logo {
            width: 45px;
            height: 64px;
        }
    }
}