@import '../../styles/fonts';

.landing {
    display: grid;
    justify-items: center;
    left: 0;
    overflow: auto hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    align-items: center;
    font-family: $italianaFont;

    .landing_children {
        display: grid;
        grid-template-rows: 1fr .5fr 1fr;
        height: 100%;

        > button {
            height: fit-content;
            align-self: baseline;
        }

        > * {
            align-self: center;
            justify-self: center;
        }
    }

    .language_picker {
        position: absolute;
        bottom: 5%;
        display: flex;
        justify-content:center;
        align-items: flex-end;
        width: 100%;

        @media (min-width: $mediumTablet) {
            bottom: 20px;
        }
    }

    @media (min-width: $mediumTablet) {
        br {
            display: none;
        }
    }

    .landing_title {
        font-size: 30px;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 400;

        @media (min-width: $mediumTablet) {
            font-size: 40px;
        }
    }

    .logo {
        width: 28px;
        height: 39px;

        @media (min-width: $mediumTablet) {
            width: 45px;
            height: 64px;
        }
    }
}